header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: hsl(174, 72%, 56%);
    color: white;
    box-shadow: 0px 0px 5px 0px rgb(51, 51, 51);
}

header>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0.5rem;
    /* border: 1px solid red; */
}

header div img {
    float: left;
    height: 22px;
    margin: 0;
}

.headerLinks {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    right: 0;
}

.headerLinks div {
    /* border: 1px solid red; */

    height: fit-content;
}

.headerLinks div+div {
    margin-left: .5rem;
}

.saludos {
    width: fit-content;
    /* text-align: right; */
    margin-right: 0rem;
}

.saludos h1 {
    font-size: 18px;
    /* margin: 0; */
}

header div i {
    /* border: 1px solid red; */
    position: relative;
    top: .15rem;
    font-size: 18px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}



#userPanel {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    position: fixed;
    z-index: 100;
    top: calc(2.3rem);
    left: 100vw;
    width: fit-content;
    height: 100vh;
    border: 1px solid hsl(174, 72%, 56%);

    background-color: hsl(174, 72%, 75%);
    box-shadow: 0px 2px 4px 0px rgba(51, 51, 51,.5);

    transition: .3s;
}

#userPanel div {
    color: hsl(174, 72%, 46%);
    background-color: hsl(174, 72%, 95%);
    margin: .25rem .5rem;
    padding: .5rem;
    border-radius: .5rem;
}

#userPanel div span {
    color: hsl(174, 72%, 26%);
    font-weight: bold;
}

#userImg {
    color: white !important;
    background-color: transparent !important;
    display: grid;
    place-content: center;
}

#accountImg {
    font-size: 7rem;
}

#accountIcon {
    transition: .3s;
}

.closeBtn {
    color: rgb(255, 100, 100);
    position: absolute;
    right: .5rem;
    top: .5rem;
}

#accountClose {
    cursor: pointer;
}