
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
    font-family: Nunito, sans-serif;
    /* box-sizing: border-box; */
}

main {
  /* border: 1px solid red; */
  margin-top: 2.5rem;
  padding: 1rem;
}

.inputDiv {
  margin: .5rem 0;
}